/*All Content*/
*{
  font-size: 18px;
}


/*First Section*/
.topbar{
  display: flex;
  width: 100%;
  background-color: black;
  justify-content: center;

}

.blackbar{
  display: flex;
  width: 960px;
  background-color: black;
  border: 1px solid green;

}

.image{
  display: flex;
  background-image: url(../images/logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 1.5rem;
  width: 2.4rem;
  margin-right: 1rem;
  margin-left: 0.5rem;
  margin-top: 0.44rem;
  margin-bottom: 0.44rem;

}

.title{
  display: flex;
  color: white;
  font-family: helvetica;
  font-size:1rem;
  margin-top: 0.65rem;
  margin-bottom: 0.65rem;
}



/*Second Section*/
.imgback{
  display: flex;
  background-image: url("../images/moto.jpeg");
  background-position: center;
  background-size: cover;
  border: 1px solid red;
  height:25rem;
  justify-content: center;
}

.holder{
  display: flex;
  border: 1px solid red;
  width: 960px;

}

.blackbox{
  display: flex;
  border: 1px solid yellow;
  background-color: black;
  width: 27rem;
  margin-top: 9rem;
  margin-bottom: 7rem;
  flex-direction: column;
  }

  .arrival{
    display: flex;
    color: white;
    font-family: Helvetica;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-bottom: 0.25rem;

  }

  .moto{
    display: flex;
    color: white;
    font-family: Helvetica;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 3rem;
  }

/* Third Section */
  .navbar{
    display: flex;
    background-color: firebrick;
    width: 100%;
    height: 2.5rem;
    justify-content: center;
  }

  .words{
    display: flex;
    width: 960px;
    justify-content: space-between;
    border: 1px solid blue;
  }

.eye, .apperal, .gadgets, .veh, .classes, .contact , .menu { display: flex;
     font-family: Helvetica;
     font-size: 1rem;
     color: white;
     margin-top: 0.75rem;
     margin-bottom: 0.75rem;
}

/*Fourth Section*/
.bigcontainer{
  display: flex;
  width: 100%;
  height: 320px;
  justify-content: center;
}

.littlecontainer{
  display: flex;
  width: 960px;
  height: 320px;
  border: 1px solid blue;
  justify-content: space-between;
}
.box1{
  display: flex;
  margin-top: 3rem;
  width: 30%;
  border: 4px solid black;

}

.imgin img{
  display: flex;
  width: 50%;
  margin-left: 5rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  border: 1px solid red;
}





.box2{
  display: flex;
  margin-top: 3rem;
  width: 30%;
  border: 4px solid black;
}

.imgin2 img{
  display: flex;
  width: 50%;
  margin-left: 5rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  border: 1px solid red;
}

.box3{
  display: flex;
  margin-top: 3rem;
  width: 30%;
  border: 4px solid black;
}

.imgin3 img{
  display: flex;
  width: 50%;
  margin-left: 5rem;
  margin-top: 6rem;
  margin-bottom: 3.7rem;
  border: 1px solid red;
}

/*Fifth Section*/
.stats{
  display: flex;
  width: 100%;
  justify-content: center;
}

.statholder{
  display: flex;
  width: 960px;
  height: 130px;
  border: 1px solid blue;
  justify-content: space-between;
}


    .location{
    display: flex;
    width: 35%;
    height: 5rem;
    color: white;
    background-color: black;
    font-family: helvetica;
    font-size: 1rem;
    margin-top:3rem;
    flex-direction: column;
    border: 1px solid red;
  }

#that {
  display: flex;
  width: 100%;
  height: 2rem;
  font-family: helvetica;
  border: 1px solid red;
  text-align: left;
  background-color: white;
  color: black;
  margin-right: 2rem;


}

  .location p{
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .hours{
    display: flex;
    width: 35%;
    height: 5rem;
    color:white;
    background-color: black;
   font-family: helvetica;
   font-size: 1rem;
   margin-top: 3rem;
   border: 1px solid red;
   flex-direction: column;

}

#them{
  display: flex;
  width: 100%;
  height: 2rem;
  background-color: white;
  border: 1px solid red;
  font-family: helvetica;
  color: black;
}



  .hours p{
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  /*Secret Section*/
  .wordcontainer{
    display: flex;
    width: 100%;
    height: 2rem;
    justify-content: center;

  }

  .eachword{
    display: flex;
    width: 960px;
    height: 2rem;
    border: 1px solid red;
    justify-content: space-between;
  }

  .wordbox1{
  display: flex;
  width: 30.5%;
  height: 2rem;
  border: 1px solid red;
  background-color: black;
  color: white;
  align-content: center;
  justify-content: center;
}

.wordbox1 p{
  display: flex;
  margin-top: 0.65rem;
  margin-bottom:0.65rem;
  font-family: helvetica;
  font-size: 1rem;
}

.wordbox2{
display: flex;
width: 30.5%;
height: 2rem;
border: 1px solid red;
background-color: black;
color: white;
align-content: center;
justify-content: center;
}

.wordbox2 p{
  display: flex;
  margin-top: 0.65rem;
  margin-bottom:0.65rem;
  font-family: helvetica;
  font-size: 1rem;
}

.wordbox3{
  display: flex;
  width: 30.5%;
  height: 2rem;
  border: 1px solid red;
  background-color: black;
  color: white;
  align-content: center;
  justify-content: center;
}

.wordbox3 p{
  display: flex;
  margin-top: 0.65rem;
  margin-bottom:0.65rem;
  font-family: helvetica;
  font-size: 1rem;
}




  /*fifth section*/
  .ender{
    display: flex;
    width: 100%;
    margin-top: 4rem;
    background-color: black;
    justify-content: center;
  }
  .blackend{
    display: flex;
    height: 10rem;
    border: 1px solid red;
    align-items: center;
    width: 960px;
  }

  .endtext {
    display: flex;
    color: white;
    font-family: helvetica;
    font-size: 1rem;
    border: 1px solid red;
  }


@media only screen and (max-width:960px){
    .topbar, .navbar, .ender {width: 100%;}
   .box3, .wordbox3, .eye, .apperal,.gadgets, .veh,.classes, .contact { display: none;}
   .box1, .box2{width: 47%;}
   .wordbox1, .wordbox2{width: 47.6%}
 .location, .hours{width: 35%;
                    margin-top: 0rem;
                     margin-bottom: 0rem;}
 .littlecontainer{ height: 20rem;}
 .stats{margin-top: 5rem;
    height: 200px;}
    .ender{ margin-top: 0rem;}
    .words{justify-content: center;}
    .imgin2{width: 90%;
            margin-left: 3rem;}
    .imgin{margin-left: 3rem;}
    .statholder{height: 99px;}

@media only screen and  (max-width:470px){
  .box1, .wordbox1 {width: 100%;}
  .box2, .wordbox2 {display: none;}
  .imgin{margin-left: 3rem;}
}


}

@media only screen and (min-width:961px){
  .menu{display: none;}
}
