/*All Content*/
*{
  font-size: 18px;
}

.wholebody{
  display: block;
  width: 100%;
  height: 2.5rem;
  background-color: black;
}

/*First Section*/


/*Second Section*/
.imgback{
  display: flex;
  background-image: url("../images/moto.jpeg");
  background-position: center;
  background-size: cover;
  border: 1px solid red;
  height:25rem;
  justify-content: center;
}

.holder{
  display: flex;
  border: 1px solid red;
  width: 960px;

}

.blackbox{
  display: flex;
  border: 1px solid yellow;
  background-color: black;
  width: 25rem;
  margin-top: 9rem;
  margin-bottom: 7rem;




}
